* {
  font-size: 18px;
}

body {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  background-color: blanchedalmond;
}

header {
  width: 100%;
}

header h1 {
  font-family: "Leckerli One", cursive;
  font-size: 3.3rem;
  text-align: center;
}

header h3 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
  font-size: 1.4rem;
}

.header__titulos {
  line-height: 13px;
  margin-bottom: 90px;
}

header > nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  margin-bottom: 80px;
}

.nav__lista--container {
  max-width: 360px;
  min-width: 300px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
}

nav li {
  list-style: none;
}

li > a {
  text-decoration: none;
  color: crimson;
  font-weight: bold;
}

li > a:hover {
  font-weight: lighter;
}

.main__textoDescritivo--container {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding-top: 18px;
  padding: 15px;
  border: 3px solid greenyellow;
  box-shadow: 2px 3px 5px 5px gray;
  background-color: whitesmoke;
}

.main__textoDescritivo {
  max-width: 800px;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 30px;
}

main img {
  max-width: 250px;
  min-width: 180px;
  padding: 15px;
}

img + p {
  color: grey;
  font-weight: bold;
  margin-top: -4px;
  font-size: 1.1rem;
}

.main__trioSuculentas--container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px;
}

.main__trioSuculentas--container > div {
  text-align: center;
}

main > section {
  margin-top: 70px;
}

footer {
  background-color: whitesmoke;
  padding: 15px;
  text-align: center;
  margin-top: 100px;
}

footer ul {
  list-style: none;
  text-align: justify;
}

.footer__contato--lista-container {
  display: flex;
  justify-content: center;
}

footer p:first-child {
  font-weight: bold;
  font-size: 1.3rem;
  font-style: normal;
}

footer li:first-child {
  color: crimson;
  font-weight: bold;
}

footer p {
  font-style: italic;
  font-size: 1rem;
}

.footer__texto--ultimoParagrafo {
  margin-top: 60px;
  font-style: normal;
  font-size: 0.9rem;
}

@media screen and (max-width: 830px) {
  * {
    font-size: 16px;
  }

  .main__textoDescritivo--container {
    padding: 23px;
  }

  .header__titulos {
    line-height: 40px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {

  *{
    font-size: 15px;
  }

  nav ul {
    display: block;
    line-height: 30px;
    text-align: right;
    margin-right: 20px;
  }
}
